[2017-10-29 16:10] andy5995 opened #1 "Primary project page moving from https://github.com/mhwkb/mhwkb/"
The primary project page will be moving from https://github.com/mhwkb/mhwkb/ to this repo

Please "star" this repo (upper right corner), and make a fork if you think you may be working on this project.

[2017-10-29 16:35] andy5995 opened #2 "add new graphic logo to web site"
@jamielthompson29 , Once the new site is live at this repo, the new graphic logo can be added.

Hopefully the site will be ready by next weekend. ;)

[2017-10-29 16:48] andy5995 opened #3 "Separate language posts in separate directories"
Now that I have a little more understanding of Jekyll, I think the category thing for languages will be fine.

But we really need to have the different language posts in separate directories.

It's fine if the EN ones are in _posts, but there should be a separate dir for DE posts, another one for HI posts, and so forth.

And if the EN posts have to go in _posts/EN that would be fine.

I'm guessing

[2017-10-29 17:13] andy5995 opened #4 "Ability to generate jekyll posts more easily"
This was mentioned to me by @parthsuresh

Here's a GitHub project that may help. I haven't tried it yet.

https://github.com/ismnoiet/jekyll-posts-generator

Any other programs or ideas are welcome. :)

[2017-10-29 17:54] andy5995 commented on #4
I tried that program, saw that it doesn't have support for adding tags yet, so I added some code and made a PR. I hope @ismnoiet will merge it. If so, perhaps @jamielthompson29 would want to hack around on that code a bit to.

[2017-10-30 01:58] andy5995 opened #5 "home page layout"
I figured the best way to do the home page is to have a brief intro/welcome message (TBD), with the language links prominently displayed.

## EN | DE | HI

Not necessarily using that style.

Reason being.. it seems that otherwise there would be a mix of different language links on the home page.

If there's any reasons something different should be discussed, please let me know.

[2017-10-30 02:04] erichoog commented on #5
I would have to agree on this, I'll try to look into this a bit more.  There's likely a way to filter the list by category and can likely set one category as the default.

We could do something like having a dropdown list for switching the languages as well possibly.  If we list the languages in the format  "LANG1 | LANG2 | LANG3" etc - this list could get very long but it could be something we co

[2017-10-30 02:04] andy5995 opened #6 "category pages"
We may need a plug-in for the category pages.

https://github.com/zroger/jekyll-categories

Unless there's something already built in to Jekyll that would do this.

[2017-10-30 02:07] erichoog commented on #5
Another idea may be to have a side bar menu with a list of the tags or a drop down for the tags rather than displaying them all for each article on the home page.  I'm still trying to get an idea of what the final product might look like.

[2017-10-30 02:12] andy5995 opened #7 "appearance of post list"
appearance of post list

Since we won't be integrating comments, I think this will work:

Right now, the post title/link displays, then the date, then the extenal link..

1. The post title/link can be removed (let's just not display that)
2. We remove the date, like we did before.
3. We display the external link, with the link text being the title of the link (dropping the "external link" text).

[2017-10-30 02:17] andy5995 opened #8 "remove Disqus code"
Disqus isn't happening (mhwkb/mhwkb#118) the code will be removed

[2017-10-30 03:27] #6 closed

[2017-10-30 04:52] #7 closed

[2017-10-30 14:28] erichoog opened #9 "Add a favicon.ico to the site"
When I load the project and navigate to the home page I receive an `ERROR /favicon.ico not found.`

Maybe someone could use the mhwkb logo and create a favicon.ico file and add it to the site?

[2017-10-30 15:50] #3 closed

[2017-10-30 15:56] andy5995 commented on #9
@jamielthompson29 Would you be interested in doing a PR this weekend?

[2017-10-30 15:58] andy5995 commented on #8
https://github.com/mhwkb/mhwkb/commit/d18e403bda1712fe132b414d564a33dda67db4d4

[2017-10-30 15:58] #8 closed

[2017-10-30 16:30] riya-17 opened #10 "Frontend"
Its front-end need improvement.

[2017-10-30 16:35] andy5995 commented on #10
Hi, @riya-17

You are right! We are working on deploying Jekyll and working on the end-user experience. Thanks for your feedback. :)

Can I ping you in a few days to get more feedback from you?

[2017-10-30 16:44] riya-17 commented on #10
@andy5995 yes sure, can i contribute for front-end?

[2017-10-30 16:55] andy5995 commented on #10
Yes, that would be great! If you touch base with erichoog in our [Slack workspace](https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0ZDc2YjAwMDJiNTU1YTBmYTViNmQ5MTdjOTk2MDA2MDMyMzNiYjU4ZWIzMTZlNmU4ZjFhNDg1MjQ5OGQyMjI) we can plan ahead a little.

Thank you!

[2017-10-30 21:40] andy5995 opened #11 "format of the posts"
The format of the posts:

filename must be preceded by the date, in this format:
(Use the date you create the post file)
2017-10-28-side_effects_book_alison_bass.md

[code]
Each post can be added to:
https://github.com/mhwkb/mhwkb.github.io/tree/master/_posts

The posts will be live on our new site, once it's deployed in a few days. New posts can be added anytime.

Please only do up to 3 at a time

[2017-10-31 22:59] andy5995 commented on #10
@riya-17 You can make some changes if you're still interested, but please don't do anything with the tags yet. I promised @nealkarpe he could work on them (mhwkb/mhwkb#126)

https://github.com/mhwkb/mhwkb.github.io/wiki/Testing

I haven't decided yet what's going to be on the home page, so just work around that for now.

[2017-10-31 23:55] andy5995 opened #14 "code on the home page needs proper indentation"
https://github.com/mhwkb/mhwkb.github.io/blob/f1646ce02b72c094456edbee6a92245b9f6a26d8/jekyll/_layouts/home.html#L16

4 space indentation

[2017-11-01 01:04] andy5995 commented on #2
The image is in the new repo

The code to add it to the home page is at
https://github.com/mhwkb/mhwkb.github.io/blob/760700fc3fa9eeb3b37a689194037f0925c520f7/jekyll/_includes/header.html#L5

[2017-11-01 02:58] kcamacho1 commented on #14
Hello, I would like to resolve this issue for you but I am having trouble locating the Homepage file to edit. Can you assist so I can make the pull request?

Thank you.

[2017-11-01 03:10] andy5995 commented on #14
@kcamacho1 Someone already took care of that, but could you remove the id, class, and style attributes from these 3 tags?

[code]

https://github.com/mhwkb/mhwkb.github.io/blob/bdc36638bef9539793e913580ed6595f5be1fcba/jekyll/_layouts/home.html#L18

[2017-11-01 03:11] andy5995 commented on #14
@kcamacho1 You will need to sync your fork first.

https://github.com/mhwkb/mhwkb.github.io/blob/master/CONTRIBUTING.md#syncing

[2017-11-01 03:53] andy5995 opened #17 "when clicked from the rss feed, links in posts don't display"
https://github.com/mhwkb/mhwkb.github.io/blob/069c3fc00b2aae7a4661c9610ad8ee611f06501d/jekyll/_includes/post_display.html#L7

When clicked from the rss feed, links in posts don't display

Page comes up without the link title or tags. Not sure why this is happening yet.

Viewing the source, I see
[code]

Why the info isn't getting passed, I don't know. The _include file used to display the post is

[2017-11-01 04:10] andy5995 opened #18 "title tags need correct info"
title tags need correct info

https://github.com/mhwkb/mhwkb.github.io/blob/c2d603e67949a1f45fcad656200bd11c35c1e923/jekyll/_includes/head.html#L6

This tag page for instance.. in the status bar shows the title of the site, not the title of the page.

https://mhwkb.github.io/tag/resources/

The title of this category page shows " - page 2"

https://mhwkb.github.io/category/EN/2/index.html

[2017-11-01 04:16] andy5995 opened #19 "home page doesn't validate"
Warnings and error when validating

https://validator.w3.org/nu/?doc=https%3A%2F%2Fmhwkb.github.io%2F

https://github.com/mhwkb/mhwkb.github.io/blob/c2d603e67949a1f45fcad656200bd11c35c1e923/jekyll/_layouts/home.html#L19

[2017-11-01 17:37] #18 closed

[2017-11-01 17:47] andy5995 commented on #5
The language list could get long, but I don't see that happening for a very long time. But I wouldn't rule it out. At some point, a drop down would be fine, so long as search engines could still crawl those links. I've seen some code on wordpress blogs that appear to allow engines to crawl so I'm reasonably certain it could be done.

As for tags, not sure about a drop-down for them yet. Seems unli

[2017-11-01 17:55] andy5995 commented on #14
@erichoog took care of that (#19, f658005bfd49a31d0aafc8d6a901527320a2263c)

[2017-11-01 17:55] #14 closed

[2017-11-01 17:59] andy5995 commented on #10
This ticket is open, afaik. I haven't heard back from @riya-17 .

[2017-11-01 18:16] riya-17 commented on #10
@andy5995 ok i will try my best to improve home page.

[2017-11-01 18:21] riya-17 commented on #5
i think arranging them on different pages with numbers like on google
search would be better rather than drop down or long scrolling

On Wed, Nov 1, 2017 at 11:17 PM, Andy Alt <notifications@github.com> wrote:

[2017-11-01 18:22] andy5995 commented on #10
Oh, @riya-17 wb! If you ever need extra time, feel free to let me know. Sometimes I don't know if someone has permanently left or just needs extra time. :)

[2017-11-01 18:32] andy5995 commented on #5
@riya-17 yeah, we need pagination on tag pages. And the numbering system, you're absolutely right. Would you mind creating a ticket for that?

[2017-11-01 18:34] erichoog commented on #19
still more to fix

[2017-11-01 18:47] andy5995 commented on #19
Now I think it's better to wait on this until @riya-17 adds some design. Thanks for following up.

[2017-11-01 18:57] erichoog commented on #14
@andy5995 I think it might still be in there

[2017-11-01 19:01] andy5995 opened #26 "write a program that will generate jeykll posts"
write a program that will generate jeykll posts

Here's what the output file would look like:

[code]

This program can be in any language. Here's what it should do:

The config file will contain the desired fields.. a comma separated list perhaps..

`# fields`
title, href, date, tags, categories

The program run from the terminal, it should prompt for each field found in the config

title?
href?

[2017-11-01 19:07] andy5995 commented on #14
that issue covered in #19 now

[2017-11-01 19:14] andy5995 opened #27 "Add acknowledgements footer section"
The footer should have a section for "Acknowledgements" (or something better if you have a suggestion)

Links to
https://github.com/mhwkb/mhwkb.github.io/blob/master/CONTRIBUTORS.md
Bootstrap home page
Jekyll home page
up-for-grabs home page

Just add the links as an unordered list and @riya-17 will take handle the design, I believe.

Here's the file that needs editing

https://github.com/mhwkb/mh

[2017-11-01 19:17] andy5995 commented on #10
This is the graphic we'll be using. We had thought to put it at the top of the page next to the title.

https://github.com/mhwkb/mhwkb.github.io/blob/master/images/mhwkb_dharma_wheel_logo_406x384.png

[2017-11-01 19:18] andy5995 commented on #2
@riya-17 is going to be handling some design soon, so I think it'll be best to reassign this to her.

Sorry @jamielthompson29 I will do my best to make sure you have some tickets to work on in the future.

[2017-11-01 21:07] andy5995 commented on #27
Resolved with (https://github.com/mhwkb/mhwkb.github.io/commit/2a56dc2c2ce21f1e7055949b27dd066a169df631)

[2017-11-01 21:07] #27 closed

[2017-11-01 21:10] andy5995 commented on #26
Eric's working on this: https://github.com/erichoog/jekyllpostgen

[2017-11-01 21:11] andy5995 commented on #4
Opened #26 to help with this.

[2017-11-01 21:11] #4 closed

[2017-11-01 21:20] luiemilio commented on #26
I did one for practice
https://github.com/luiemilio/jekyll_post_generator

Sorry for not saying anything before doing it.

[2017-11-01 21:21] erichoog commented on #26
@andy5995 @luiemilio no worries you can use that one! I might keep working on my version just for fun anyways!

[2017-11-01 22:15] andy5995 commented on #26
@luiemilio  Thank you.

If you like, you can do a PR and put it in a directory here as the same name as your project.

I tried running it

[code]

Adding this to the first line solved it

`#!/usr/bin/env ruby`

Works pretty well!

[code]

Works pretty well!

[code]

Can you have it make double quotes around the "title"? And add the three dashes, as shown in the example in the first post?

Wow, thi

[2017-11-02 00:17] andy5995 opened #29 "add link to GitHub pages"
add link to GitHub pages

https://pages.github.com/

Here:

https://github.com/mhwkb/mhwkb.github.io/blob/f421ba89a703ab05b7c431ce3a59e9c110311450/jekyll/_includes/footer.html#L25

[2017-11-02 04:45] riya-17 opened #31 "pagination works on category pages but not on tag pages"
As it consists of a long list of hyperlinks so it will be better to divide them into different pages like google and arrange them alphabetically.Instead of arranging we can give sortings like sort by date or sort by name where pagination is still required.

[2017-11-02 05:54] andy5995 commented on #31
Thanks for filing this @riya-17 .

We put deployed the new site yesterday, and now the links aren't in a very long list such as you described.

https://mhwkb.github.io/

Though we are still having some issues to solve.

1. pagination works on category pages but not on tag pages
2. We only have next (older) and previous (newer) links for the pagination, not <prev 1 2 3 5 6 7 8...

Definitely both o

[2017-11-02 17:52] andy5995 commented on #10
Yes. I think we  might need to adjust the size though. What do you think?

[2017-11-02 20:25] andy5995 opened #33 "sorting posts alphabetically"
As @riya-17 pointed out in #31, there should be an option to sort posts alphabetically.

That would be a bit more challenging because the site is hosted on [GitHub Pages](https://help.github.com/articles/what-is-github-pages/).

So, as far as we know.. we have no database capability unless someone wants to register a domain, buy hosting, and maintain it over an indefinite period of time. ;)

Howev

[2017-11-02 21:32] andy5995 commented on #5
I'm going to divide up the design tasks, and hopefully that will make thing easier to work on for everyone.

[2017-11-02 21:33] andy5995 opened #34 "increase font of article text on home page"
@escottalexander is working on this.

[2017-11-02 21:43] andy5995 opened #35 "change style of category (language) links"
move category display to header

This needs to get moved (L4)

https://github.com/mhwkb/mhwkb.github.io/blob/48ea1a5d6e2c5a030db495c7be6e05343fc7e1ba/jekyll/_layouts/home.html#L4

and placed in

https://github.com/mhwkb/mhwkb.github.io/blob/48ea1a5d6e2c5a030db495c7be6e05343fc7e1ba/jekyll/_includes/header.html#L5

That will make sure the LANG buttons will show up on tag pages, as well as category p

[2017-11-02 21:46] andy5995 opened #36 "give style to the two footer link sections"
https://github.com/mhwkb/mhwkb.github.io/blob/48ea1a5d6e2c5a030db495c7be6e05343fc7e1ba/jekyll/_includes/footer.html#L12

Some styling can be applied, and the bullets can be removed.

This is the new logo that @jamielthompson29 made.

https://github.com/mhwkb/mhwkb.github.io/blob/master/images/mhwkb_dharma_wheel_logo_406x384.png

So any new styles should not conflict with the color scheme of the lo

[2017-11-02 21:50] andy5995 opened #37 "date can be removed, post link and title given style"
The display of the date can be removed, give style to post title and link.

https://github.com/mhwkb/mhwkb.github.io/blob/48ea1a5d6e2c5a030db495c7be6e05343fc7e1ba/jekyll/_includes/post_display.html#L5

[2017-11-02 22:00] andy5995 commented on #26
One of these was done by @luiemilio and @erichoog is working on another,

Show your love and "star" their projects!

https://github.com/erichoog/jekyllpostgen

https://github.com/luiemilio/jekyll_post_generator

If anyone makes another one, please do a PR and I'll review and probably add it to our repo. Please include a LICENSE for your project, and the README, which should link back to your proje

[2017-11-02 22:00] #26 closed

[2017-11-03 16:34] riya-17 commented on #10
left-top corner is best for logo, it is just like an ideaL place. @andy5995

[2017-11-03 16:39] riya-17 commented on #5
Yaa that will surely make things easier.

[2017-11-03 16:39] andy5995 opened #44 "Review testing doc"
The [testing doc](https://github.com/mhwkb/mhwkb.github.io/wiki/Testing) could use some attention, also I believe some of the comment @erichoog posted on #41 can be merged into it.

Probably need a link on the README to make the testing doc more obvious?

[2017-11-03 16:51] #5 closed

[2017-11-03 16:53] andy5995 commented on #37
Tags can be part of this ticket also.

Colors don't have to necessarily match, but they should not conflict with our new logo.

https://github.com/mhwkb/mhwkb.github.io/blob/master/images/mhwkb_dharma_wheel_logo_406x384.png

[2017-11-03 16:56] andy5995 commented on #37
@nealkarpe can you take this ticket?

[2017-11-03 16:59] andy5995 commented on #10
Closing. Making tickets for for different tasks.

[2017-11-03 16:59] #10 closed

[2017-11-03 17:14] nealkarpe commented on #37
Sure. I'll take this up! :smiley:

[2017-11-03 17:17] nealkarpe commented on #37
Do you suggest that I should comment out the date if we may decide to use it again in the future? Or should I simply delete the date if you're sure you don't want it? (worst case we can re-track it from the commits either way :smiley: )

[2017-11-03 17:21] andy5995 commented on #37
Delete. :)

But don't delete from any files in the _posts directory. Still needed by Jekyll for sorting.

[2017-11-03 18:01] nealkarpe commented on #37
Quick question. Seeing that we have no css file to write styles of classes, should I make one or do you suggest just writing styles independently in each individual file?

[2017-11-03 18:12] andy5995 commented on #37
I think @escottalexander is going to add a css file today.

In the meantime, you can use classes from Bootstrap https://github.com/mhwkb/mhwkb.github.io/blob/master/CONTRIBUTING.md#css-design-we-use-bootstrap

For example, you've seen this in our html documents:
`class="label label-danger"`

That's using the bootstrap code that's being linked to in `<head>`

If you have any questions about it, you

[2017-11-03 18:13] escottalexander commented on #37
He had assigned me to create a style.css file. I am working on it currently and hopefully it will be available for you to edit soon.

[2017-11-03 20:48] andy5995 commented on #37
closed by d748d696ebfd0e9cf979d6686a087e73a7084486 Thanks @nealkarpe

[2017-11-03 20:48] #37 closed

[2017-11-03 20:51] andy5995 commented on #36
Closed by ee5d3fd7978c36b9fe4206ec6d3a83e44ae89288 Thanks @escottalexander

[2017-11-03 20:51] #36 closed

[2017-11-03 21:16] andy5995 opened #48 "placement and style of red footer buttons"
https://github.com/mhwkb/mhwkb.github.io/blob/5cff373c91970f9f5f5ab0ec32d356c3e20c5280/jekyll/_includes/footer.html#L6

A few minutes ago I updated the upstream to correct a couple links there. So before you work on this, you should definitely [sync](https://github.com/mhwkb/mhwkb.github.io/blob/master/CONTRIBUTING.md#syncing).

the style can change, as well as the colors.

I think we need an _Abo

[2017-11-04 00:26] andy5995 opened #50 "Page with tag cloud"
@JedMeister wrote:

[2017-11-04 04:57] #2 closed

[2017-11-04 05:00] #9 closed

[2017-11-04 19:13] andy5995 opened #51 "implement navigation bar / drop-down box for tags"
Anyone interested in implementing a navigation bar / drop-down box for tags?

https://github.com/mhwkb/mhwkb.github.io/blob/431a8a90bb3515d2a9845457bacb466998696c88/jekyll/_includes/post_display.html#L8

[2017-11-04 20:00] erichoog commented on #51
I'd be interested in implementing the initial navbar if no one else wants to later this evening.

Would need to clarify the drop down for the tags.  Is a drop down in the nav which would list out all of the tags on the page?

I could still implement the nav to show the concept I had been talking about and then we could work on the drop downs / modifications we'd need to do later.

[2017-11-04 20:34] erichoog commented on #17
Ok so the RSS feed appears to be showing posts outside of the category, it's showing the actual post page I beleive, as the links are going to `https://mhwkb.github.io/en/2017/11/04/Men_how_to_have_a_conversation_with_a_mate_about_mental_health/`

[2017-11-04 21:55] andy5995 commented on #17
fixed by https://github.com/mhwkb/mhwkb.github.io/commit/d942010e5134620f2c2b79ff2b59090345b74a0e Thanks @erichoog

[2017-11-04 21:55] #17 closed

[2017-11-04 21:59] erichoog commented on #17
Whoops, meant to include (Closes #17)  in the title of the PR, thought solves worked as well but my bad!

[2017-11-04 22:42] andy5995 commented on #51
a drop-down just for the tags in a single article/link.

@escottalexander said he'd take this but was concerned about setting up Jekyll. Which is now done. :)

Sure, @erichoog if you're interested in doing that, I'll certainly have a look. :)

[2017-11-04 22:45] escottalexander commented on #51
@erichoog If you want to work on this, go ahead. I will be away from my computer the rest of the night. If not, I'l check into it in the morning

[2017-11-05 02:45] #44 closed

[2017-11-05 03:24] erichoog commented on #51
I made a quick attempt at implementing what I was talking about but I wasn't all that happy with it so I'll probably hold off on this until some inspiration comes.

[2017-11-05 03:42] #19 closed

[2017-11-05 03:51] erichoog commented on #19
@andy5995 all W3 validation passing now.

[2017-11-05 13:45] nealkarpe commented on #51
Hi! I saw the pull request and the work looks really neat! :smiley: Just wondering what is the motive of having the tags along with a drop-down of the same tags? However, this is just my opinion. If you feel that it is more usable with the drop-down, then no problems! Cheers :)

[2017-11-05 18:00] andy5995 commented on #51
#59 isn't finished yet, there will only be the drop down.

[2017-11-05 20:23] andy5995 commented on #50
Instead of a page with a tag cloud, I am considering a drop-down box in a right-hand vertical panel (panel not created yet). The links to the tags in that drop-box should contain the rel="nofollow" attribute.

That idea seems better than having a page that lists a bunch of hyperlinked words. ;)

Any opinions to the contrary? If you agree with this idea, just thumb up the post. Thanks!

[2017-11-05 20:25] andy5995 opened #60 "implementing a right-hand vertical panel"
I keep thinking we should have a vertical right-hand panel for some extra things, such as

* Features links (3-5 links that are visible on every page)
* Drop-down tag-cloud box
* move the three "add to the KB" links from the footer into the right-hand panel

[2017-11-05 22:42] andy5995 commented on #11
Using the [post generator](https://github.com/luiemilio/jekyll_post_generator) is probably only a time-saver if you're going to be adding more than two or three links

[2017-11-06 06:32] #34 closed

[2017-11-06 21:31] JedMeister commented on #50
I think a tag drop down is a great idea, but I don't think that it's mutually exclusive with a tag cloud (although probably if it were on the same page).

As I said, one of the things I like about a tag cloud (with weighted tags - e.g. larger text for more popular tags, smaller for less popular tags) is that is gives a visual cue to the popularity of specific tags, and the volume of content with t

[2017-11-06 22:59] andy5995 commented on #50
Actually I agree with that idea. If they are weighted I'd see more of a purpose. I'm not sure how to do that with jekyll yet but I'll keep the ticket open.

[2017-11-07 01:12] #51 closed

[2017-11-07 01:22] andy5995 opened #63 "implement search engine"
There's been some discussion in the chat about this.

@erichoog writes

Another option would be to use [Solr](http://lucene.apache.org/solr/). I have some hosting space now but I'm not sure if it would build (if the server I have hosting on has all the required dependencies installed). The source package is 50MB. Definitely more than what's needed, but it would work (if I can build it).

It's appa

[2017-11-07 03:47] andy5995 commented on #11
Another @jekyll post generator has arrived!

I tried jekyllpostgen by @erichoog today. Works great! A very sleek Bash script.
https://github.com/erichoog/jekyllpostgen

I edited the first post to reflect the choices.

[2017-11-07 08:00] andy5995 commented on #31
I'm pretty sure this done. Thanks @erichoog :) (https://github.com/mhwkb/mhwkb.github.io/commit/0139ca7db4cb6a42b537b0a6a75f65991c307705)

The alphabetizing thing mentioned above is now in a separate ticket #33

[2017-11-07 08:02] andy5995 commented on #1
Obsolete

[2017-11-07 08:02] #1 closed

[2017-11-07 10:21] escottalexander commented on #48
@andy5995 Looking forward to working on this tomorrow. Thanks.

[2017-11-07 17:14] riya-17 commented on #33
Pagination seems to be Perfect now.

[2017-11-08 03:07] andy5995 opened #66 "post will appear on tag page twice if a tag is listed twice"
This is just for reference. If it happens again, we know how to fix it.

I filed a ticket with the jekyll-tagging project (pattex/jekyll-tagging#69)

I had a post.md file that had a tag listed 2x

[example, different, hello, example, five]

The post appeared twice on the  tags page for "example".

So.. a "bug" because the end-user did something wrong.

[2017-11-08 09:05] andy5995 commented on #33
Thanks @riya 😃

[2017-11-08 18:54] andy5995 opened #67 "category and tag pages should have a unique title tag"
The title that appears in the browser status bar should be more unique.

Currently it's the site title for all pages.

[2017-11-08 19:09] andy5995 commented on #67
@erichoog I have a few changes I'll push, then hand it over to you so it can be done properly

[2017-11-08 19:24] andy5995 commented on #35
The first part is done, so I've renamed the ticket. Are we thinking drop-down box for the languages?

[2017-11-08 20:05] andy5995 opened #69 "web site top navigation"
This will have to be planned some before an attempt to implement

That sounds good to me! I love navbars lol, the issue I had when implementing the navbar was that I wanted to have the logo and site title move there as well but then I wasn't 100% pleased with the look of the design so i scrapped it

[2017-11-09 02:22] andy5995 opened #72 "implement htdig search engine"
We probably shouldn't spend too much time on this; if we don't get it working, we'll look at the other options mentioned in #63

So, to test `htdig` the way I did, is pretty easy (if it's even something anyone wants to do. As I said, not mission-critial).

1. install htdig from your Linux distro repository.

The rest can be done as a normal user.

Copy the [config file](https://github.com/andy5995

[2017-11-09 02:36] andy5995 opened #73 "Some links to tag pages lead to a 404, problem with `- ` combination"
The tagging plugin usually handles tags with spaces ok.

In this example in the DE (German) category, it does not.

https://mhwkb.github.io/tag/kinder--und-jugendgesundheit/ (Leads to a 404)

The literal tag is
`Kinder- und Jugendgesundheit`

Looks like it has something to do with a hyphen being next to a space; and normally spaces are converted to hyphens. I see in tag page URL that there's only

[2017-11-09 02:44] andy5995 opened #74 "the code for a post displayed through RSS doesn't match"
@erichoog  fixed a problem with RSS feed recently

https://github.com/mhwkb/mhwkb.github.io/commit/d942010e5134620f2c2b79ff2b59090345b74a0e

Now I see the tags are the old format

https://mhwkb.github.io/en/2017/11/08/machine-learning-identifies-suicidal-youth/

Can we use an % include somewhere so this won't happen?

[2017-11-09 02:48] andy5995 opened #75 "Logo and title design"
Any ideas about how to present the logo and title on the home page page? Background colors? a subtle background image? Font, placement?

https://mhwkb.github.io/

[2017-11-09 04:03] erichoog opened #76 "Move style attributes in some _includes files to a CSS class"
There is some CSS embedded into a few _includes files in style attributes which could be moved to a CSS class is the style.css file.

[2017-11-09 09:07] nonprofitable commented on #75
This is not an isolated issue with the logo / title; you should tackle this within the context of an overall redesign. You could do this while keeping the entire project in Jekyll, so you wouldn't lose the github hosting, though I'm curious as to how successfully you're getting folks to contribute links as Jekyll posts (I haven't had much luck with this with clients in the past).

[2017-11-09 14:45] riya-17 commented on #35
A menu that open from sideways will be good or a menu icon that shows a dropdown will be good as well.

[2017-11-09 14:47] riya-17 commented on #35
Which will be an ideal place for menu icon?

[2017-11-09 18:26] #48 closed

[2017-11-09 18:28] #74 closed

[2017-11-09 19:33] andy5995 commented on #35
The top.

[2017-11-09 19:34] andy5995 commented on #76
https://github.com/mhwkb/mhwkb.github.io/blob/0eb79c75be8fb4abbd926f371738d5f641d0ed86/jekyll/_includes/footer.html#L17

Anywhere else, @erichoog ?

[2017-11-09 19:54] erichoog commented on #76
@andy5995 I think there are about 4 lines in the footer.html.  and a couple in the post_display.html file as well.

[2017-11-09 20:08] erichoog commented on #75
@nonprofitable I really liked the dsign of your page at https://nonprofitable.github.io
Do you have some suggestions or recommendations for us? I'm sure we would be open!

[2017-11-09 20:20] nonprofitable commented on #75
Thanks! That code's all public (the public nonprofitable.org website is actually hosted from that github repo), so feel free to grab any ideas you like. You'll probably want to clean up the CSS a little if you're repurposing it.

What do you like about it? The design / layout of the homepage and internal pages in general? I could probably build something similar for your project without too much p

[2017-11-09 21:43] erichoog commented on #75
I'll certainly take a peak at some of the code for some inspiration!

I really like the overal design of your site, it just looks really clean.  Layout of the different sections, the style, the navbar, very easy on the eyes!

Our slack channel is https://mhwkb.slack.com/.  I have to run but I'm sure @andy5995 would love to see how you could help contribute the design as well.  Andy is the project

[2017-11-09 21:51] andy5995 commented on #75
nonprofitable:

Mentioned a couple times in the README

Hmm.. It's a nice design for sure, but I don't think it would fit well for a site such as ours.

Eric:

An invite link is required first, which can be obtained by using the link from the README.

[2017-11-09 22:34] JedMeister commented on #75
my 2c (this is critique, but hopefully not too critical - please take it with a grain of salt):

I think that the mhwkb site is coming along nicely.

Although to my eye, the overall design reminds me a little of personal websites from the 90s. I think that the main thing that makes me think that is the background texture. Personally I think a plain background, or a picture (even if it was really b

[2017-11-10 00:47] andy5995 opened #79 "Link suggestion - Ten Days in a Mad-House"
Link title: Ten Days in a Mad-House

URL: https://www.goodreads.com/book/show/1642216.Ten_Days_in_a_Mad_House

Up to 10 keywords or tags (spaces ok), one per line:
books, journalists, Nellie Bly, history, activism

If you'd like to add this link to the KB, details on how to do so are at
https://github.com/mhwkb/mhwkb.github.io/issues/11

[2017-11-10 00:58] andy5995 opened #80 "Link Suggestion - Crazy or Wise? Learning From Those Who Have Transcended Psychological Crisis"
Link title: Crazy or Wise? Learning From Those Who Have Transcended Psychological Crisis

URL: https://www.madinamerica.com/2017/11/crazywise-transcended-crisis/

Up to 10 keywords or tags (spaces ok), one per line:
Noel Hunter, doctors, blogs, discussions, childhood, films

If you'd like to add this link to the KB, details on how to do so are at
https://github.com/mhwkb/mhwkb.github.io/issues/11

[2017-11-10 02:32] andy5995 opened #82 "Add favicon and icons for device bookmarks"
@sexybiggetje , would you be interested in doing this for our site sometime within in the next few weeks? jenniferlynparsons/selfcaretech#53

[2017-11-10 02:39] #67 closed

[2017-11-10 02:49] andy5995 opened #83 "Have pagination trail links appear above the posts"
I'd like to keep the pagination trail below the posts, but also have it shown at the top, directly above the lists of posts.

https://github.com/mhwkb/mhwkb.github.io/blob/d70213501c7c99a4da84c15880ad869c113e0d7e/jekyll/_layouts/category_index.html#L11

[2017-11-10 02:51] andy5995 commented on #31
Oh, I may have closed this ticket prematurely. renamed title and reopening....

[2017-11-10 07:11] sexybiggetje commented on #82
Sure no problem

[2017-11-11 02:44] andy5995 commented on #75
Thanks for the feedback. You made some good points, for sure. :)

I don't really know much about logo design. I figured a lot of logos don't necessarily represent the things they stand for. The Debian logo for instance, or...a penguin?? lol

The wheel can represent "balance" which is important for mental health.

Though me and @jamielthompson29 decided we could always change the logo later. And it

[2017-11-11 02:50] andy5995 commented on #35
This should be combined with #69 but perhaps 69 is no longer needed.

[2017-11-11 02:52] andy5995 commented on #60
Are right-hand panels used anymore? @JedMeister will say I'm back in the nineties, lol. But seriously, I tried it today, but it seemed that if viewed on a mobile device, it just wouldn't work.

[2017-11-11 04:59] erichoog commented on #60
I like the idea of having those links easily accessible but I agree that the panel wouldn't view nicely on a mobile device.  I wonder if we could use a bootstrap row and col from their grid system if it would work better?

[2017-11-12 07:52] #63 closed

[2017-11-12 07:52] andy5995 commented on #72
Closing, search implemented with a062a59ec12c83d285cc3b3df11ff596319762b6

[2017-11-12 07:52] #72 closed

[2017-11-12 19:46] #82 closed

[2017-11-12 22:26] andy5995 commented on #35
I'm thinking something like this would be a good option.

http://bootstrapformhelpers.com/language/#example3

The code that auto-displays the categories can be removed and replaced with static links. We only have 5 languages right now and adding more is as simple as copying and pasting, and changing the country code.

https://github.com/mhwkb/mhwkb.github.io/blob/b23edaf8250605c90bdf5580245efa6b1e

[2017-11-13 19:01] #69 closed

[2017-11-13 21:05] andy5995 commented on #72
@erichoog The problem has been fixed. I found this patch that was made in 2013, nine years after the last official release, and merged it with my repo.

https://github.com/andy5995/htdig/commit/2aa0e4ed52211003288491dedd3a1e72d1c4ddc1

[2017-11-13 21:08] erichoog commented on #72
Oh nice that's awesome! Good job researching that!  I still haven't had a chance to try this out but hoping to eventually!

[2017-11-14 19:47] overdrv69 commented on #75
andy5995, after reading through posts and looking at your site. I also like the simplicity of your design but with regards to the logo, might I suggest something more elemental. I have designed logos for home healthcare sites and find that visitors relate to symbols more that’s words.  Brainstorming an idea for the right logo can take time, I would start with word association to find the symbol th

[2017-11-14 19:52] andy5995 commented on #75
Hi @overdrv69 . I'm open to new ideas. :) Please join the [chat room](https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0ZDc2YjAwMDJiNTU1YTBmYTViNmQ5MTdjOTk2MDA2MDMyMzNiYjU4ZWIzMTZlNmU4ZjFhNDg1MjQ5OGQyMjI) so we can explore them more. Thank you for the offer. :)

[2017-11-15 02:02] andy5995 opened #93 "Displaying RSS feeds"
Are there any good web services that provide a way to display RSS feeds on static web sites such as ours?

I thought it might be a nice addition to display about 4 RSS feeds; perhaps 5 headlines from each feed in the footre.

I haven't decided yet which feeds to display but we can discuss that soon.

[2017-11-15 02:10] erichoog commented on #93
I think there's got to be some sort of JavaScript RSS reader that would work for this.

I'll take a look here https://www.sitepoint.com/jquery-rss-feed-readers/

Or maybe this project although I'm not sure it being maintained.  https://github.com/sdepold/jquery-rss

[2017-11-15 13:35] overdrv69 commented on #75
I have some ideas to share, working on them now.  I also commented on another Slack post about your menu options.

[2017-11-15 20:11] andy5995 opened #95 "switch to blocks/labels for tags"
@sexybiggetje wrote

[2017-11-15 20:16] andy5995 opened #96 "reduce blue "whitespace" around links"
@sexybiggetje writes

[2017-11-16 10:05] escottalexander commented on #93
@andy5995 Where will this rss feed be located? Just on the home page or on all of the sites pages?

[2017-11-16 19:41] andy5995 commented on #35
Closed by accident. I made some recent commits while on the wrong branch. (ping #94)

[2017-11-16 20:58] andy5995 commented on #93
Very good question! I think a separate page. And if so, there could be feeds from more than 4 sources.

I figure we'll work on the design issues, and then perhaps discuss the RSS thing more in Slack.

[2017-11-16 21:01] andy5995 opened #97 "Have browser default to the proper language"
@escottalexander writes:

[2017-11-16 21:54] andy5995 commented on #50
Not visible on the site yet. Anyone who wants to continue this, here are the changes so far: https://github.com/mhwkb/mhwkb.github.io/commit/bb5649b38dda30c4009e1c1c94204dcd1e3ca3cf

![screenshot_2017-11-16_15-52-03](https://user-images.githubusercontent.com/16764864/32917938-4ea7ca7c-cae6-11e7-924b-bddefc09a323.png)

[2017-11-17 19:41] andy5995 commented on #83
closed via 5ce81379811245961bac5bf38c98fbd20bf0da7d / thanks @escottalexander

[2017-11-17 19:41] #83 closed

[2017-11-17 19:56] #95 closed

[2017-11-17 21:02] andy5995 commented on #73
Some trouble with the Nepali tags too. If you click on this link you'll see it works, but all the tags around it lead to a 404.

https://mhwkb.github.io/tag/%E0%A4%94%E0%A4%B7%E0%A4%A7%E0%A4%BF/

[2017-11-20 18:47] erichoog commented on #96
@andy5995 should we close this now?

[2017-11-20 19:00] sexybiggetje commented on #96
Ah yes, sometimes I'm a bit sloppy. Agree on closing ;)

[2017-11-20 19:00] #96 closed

[2017-11-20 19:26] #76 closed

[2017-11-21 02:17] andy5995 opened #103 "pagination code on category_index could be put into an include file"
The pagination code is duplicated at the top of posts and on the bottom. It could be moved into an include file.

https://github.com/mhwkb/mhwkb.github.io/blob/f9cee8bf2e2e9f483c5db951e60e8b8c9b2396d5/jekyll/_layouts/category_index.html#L10

[2017-11-21 03:23] andy5995 commented on #75
I've decided to keep the logo. I like it, and have received many compliments about it (cc: @jamielthompson29 )

This thread is too long. I'm going to close it and create a new ticket after some of the current issues being worked on are resolved.

[2017-11-21 03:23] #75 closed

[2017-11-21 14:43] erichoog commented on #93
I think this might be a great plugin for showing rss feeds: https://github.com/sdepold/jquery-rss

It has template settings which would be very helpful in our case.

[2017-11-21 15:24] afro-nolan opened #104 "Link Suggestion: Tips to Boost Your Mental Health"
To suggest a link for the Knowledge Base, please fill add a title above,<br />
and fill out the form below.<br />
(if filing a regular issue, press `<CTRL-a>`, followed by a backspace)

Link title: 31 tips to boost your mental health

URL: http://www.mentalhealthamerica.net/31-tips-boost-your-mental-health

Up to 10 keywords or tags (spaces ok), one per line:
tips mentalhealth habits selfhelp happ

[2017-11-21 15:35] afro-nolan opened #105 "Add images"
In order to make the page more inviting and therefore to raise further awareness by drawing readers in, I would suggest adding some images with the links or articles, it would make the website a lot more user-friendly and easier to navigate.

[2017-11-21 17:43] #104 closed

[2017-11-21 17:53] andy5995 commented on #105
Thank you for the suggestion. What difficulties did you have with navigation? What kind of images do you suggest adding? What was your experience that you didn't find the site user-friendly?

[2017-11-21 18:29] andy5995 commented on #93
Thanks for investigating, Eric.

https://github.com/sdepold/jquery-rss#note-about-the-host-option

I'd prefer a method that doesn't rely on a third-party service. Do you think that's possible with jquery? And would something ruby-based be an option?

Here's another option.. https://rss.bloople.net/

[2017-11-21 20:55] #93 closed

[2017-11-21 21:32] andy5995 opened #106 "when running locally, some links not showing up in search"
Some links not showing up in search when running jekyll locally.

I don't know how many  links are not showing up in the search, but this is one post that's not coming up in  the results.

[code]

[2017-11-21 21:36] erichoog commented on #106
Hey Andy, I just checked this locally here. It seems the like shows up for me after I type `menta` in.  But if I only have 'ment' typed then it doesn't.  Is it similar for you or just doesn't show up at all.

[2017-11-21 21:51] andy5995 commented on #106
It doesn't show up at all.

[2017-11-21 22:07] erichoog commented on #106
Hmm can you check the browser console (usually F12 or Ctrl+Shirt+K in Firefox) and see if there's any errors showing up that might be related? Unless you've already done that.  If there's no errors tied to that then I'd have to check it out again but I can't see any reason it wouldn't.

[2017-11-22 00:43] andy5995 opened #107 "Link suggestion: Music Care"
Link title: Music Care

URL: http://www.musiccare.net/

music therapy, PTSD, Bill Protzmann, public speaking

If you'd like to add this link to the KB, details on how to do so are at
https://github.com/mhwkb/mhwkb.github.io/issues/11

If not, just hit _submit_ after you enter in the link details. Thank
you!

[2017-11-22 00:50] andy5995 opened #108 "search box should appear on tag pages"
The search box should appear on tag pages, just as it does on category pages.

[2017-11-22 14:39] afro-nolan commented on #105
I found that the links where somewhat vague in what they were about and almost had the appearance of clickbait of spam, I had a look at a few of them though and it seems that a majority of them are links to articles so it could be an interesting idea to include a picture along with the link that would relate to the articles/ webpage to give a glimpse of what the content is about. It shouldn't be t

[2017-11-22 20:24] andy5995 commented on #106
Ok. I don't know how to use the console, but I don't see anything that looks like an error. I see some orange triangles with exclamation marks next to these.

[code]

[2017-11-22 20:45] andy5995 commented on #105
Hmm.. that's good feedback. I wasn't aware of that point of view. I'll leave this ticket open for more discussion.

My concern about adding pictures is copyright of course.

The primary reason the site is mostly just links is because though I wanted to help with awareness, I didn't want to maintain a big project for an indefinite period of time. I'm really more interested in C programming than web

[2017-11-22 21:32] erichoog commented on #106
Hey @andy5995 make sure you're on the Console tab as shown below, I feel like you might be on the Inspector tab.

It should look something like this:

![image](https://user-images.githubusercontent.com/8869330/33150687-9726aab4-cfa2-11e7-8cfc-84bbd54d375b.png)

[2017-11-22 21:38] erichoog commented on #105
I've never used anything like this but this code might be something to look at maybe?  Essentially a way to show a thumbnail of the website using the link I beleive: https://html2canvas.hertzen.com/documentation.html

[2017-11-22 22:10] andy5995 commented on #108
Closed with 61886e3bf2c8027ba9752d92584c4be89fd878d8

[2017-11-22 22:10] #108 closed

[2017-11-22 22:13] andy5995 commented on #103
Closed by 61886e3bf2c8027ba9752d92584c4be89fd878d8

[2017-11-22 22:13] #103 closed

[2017-11-23 00:13] andy5995 commented on #106
Ah.. ok. I do get that error when in the console at the home page. When using the search, the console window is blank.

[2017-11-23 00:55] erichoog commented on #106
Ok that's good at least.   Have you tried typing that title out fully and see if it shows up?

[2017-11-23 01:12] andy5995 commented on #106
oh, yes it does now. I'm sure I tried that before and it didn't work. Great! You fixed things again! hehe

[2017-11-23 01:34] erichoog commented on #106
Perfect!  I noticed I has to type it out almost fully before I saw it in the list as well.

[2017-11-23 13:18] escottalexander commented on #97
After looking into this, I can't find a quick way to do it without slowing down the site significantly. Maybe it's a no go. Anyone have any thoughts?

The best thing I found was a free service that returns location information after an ajax call. If all that had to happen before the site loaded, it would be way to slow for most people.

[2017-11-23 23:26] JedMeister commented on #105
I quite like the idea of a thumbnail of the website the link is to.

@andy5995 - re your concerns on copyright, if you keep in context that by providing a link to their site, the KB is improving their SEO and driving traffic to their site (at no cost to them). I would argue that under US DCMA ["fair use"](https://www.dmca.com/FAQ/Fair-Use) provisions, it's totally reasonable to give KB users an id

[2017-11-25 19:17] andy5995 commented on #105
Thanks for all the legal info @JedMeister .  If anyone wants to try implementing this, I'm fine with that.

[2017-11-25 19:26] andy5995 opened #112 "tags have no language associated with them"
For example, "e-health" is the same in EN and NL. If the tag is clicked, the post comes up twice.

One instance from the EN category, and one from the NL.

https://mhwkb.github.io/tag/e-health/

[2017-11-26 18:46] #80 closed

[2017-11-26 18:46] #79 closed

[2017-11-26 18:46] #107 closed

[2017-12-01 23:06] andy5995 opened #113 "Start a category for pt_BR links"
To create a new category, add pt_BR.html to the jekyll/category/ directory [jekyll/category/](https://github.com/mhwkb/mhwkb.github.io/tree/master/jekyll/category)

The contents of that file should be

[code]

The actual link go into [jekyll/_posts](https://github.com/mhwkb/mhwkb.github.io/tree/master/jekyll/_posts) and detailed instructions are at https://github.com/mhwkb/mhwkb.github.io/issues/1

[2017-12-03 13:33] escottalexander commented on #112
What are possible solutions to this? Does someone need to change a Jekyll setting to require attaching a language to each individual tag?

[2017-12-03 13:36] erichoog commented on #112
I think since the tags are associated to a post and a post has a language category we should be able to associate the tags language but not 100% how just yet.  But I'm sure it can be done.

[2018-01-09 05:23] marioecg commented on #113
@andy5995 can I still try to solve this issue and make a PR? I am new contributing to open source projects but I'll try my best. If I am late to the party let me know.

[2018-01-09 12:33] andy5995 commented on #113
@marioecg , you are not late to the party. :) Yes, please  take this issue. Thank you! And don't hesitate to ask questions if you get stuck. :)

[2018-01-09 15:52] marioecg commented on #113
@andy5995 thanks! will make this during the day.

[2018-01-09 16:29] andy5995 commented on #60
I may have missed this, @erichoog

But now, 2 months later, I don't see that we have a lot of extra links, and the footer is holding things nicely.

[2018-01-09 16:37] andy5995 commented on #50
I added a link (top-right) to the tag cloud today.

[2018-01-10 03:04] marioecg commented on #113
@andy5995 submitted PR #115.

[2018-01-10 19:26] #113 closed

[2018-01-11 19:19] ritwik12 opened #116 "Tooltips"
When I saw this website I noticed a problem, for the people who doesn't have any idea with other languages it is hard to know that which short form is which language.
Like
EN-english DE HI-Hindi NL SV NE pt_BR
But I don't have any idea about others without clicking on them.
So I thought there is a need for Tooltips

[2018-01-11 21:49] andy5995 commented on #116
@ritwik12 Thank you for the suggestion. :) This is part of #35

[2018-01-11 21:49] #116 closed

[2018-01-11 22:00] #35 closed

[2018-01-11 22:29] andy5995 opened #119 "Width of language navigation drop-down needs to be expanded"
It's too narrow!

[2018-01-11 22:31] andy5995 opened #120 "It may not be clear that clicking on a language is required"
Will it be clear to visitors that they must select a language to go anywhere on this site?

[2018-01-11 22:36] #106 closed

[2018-01-11 22:37] #60 closed

[2018-01-13 11:50] ritwik12 commented on #116
@andy5995  alright

[2018-01-16 17:54] ritwik12 opened #122 "Language switcher"
We are having languages like Hindi and Nepali written in their own language scripts i.e Devnagri in this case.
I think that by doing that we are not doing wrong as the person knowing Hindi or Nepali will be able to know that this click will convert the website into that language. But for others, it's just some symbols. Others don't have any idea about what is written. I prefer "Hindi" and "Nepali"

[2018-01-16 18:34] andy5995 commented on #122
ticket labelled and accepted. Thank you @ritwik12

[2018-01-17 16:33] robatronPrime commented on #119
Hi, I can do this for you. How wide do you need it?

[2018-01-18 15:52] andy5995 commented on #119
Thanks for the offer @robatronPrime . I think it should be wide enough so the language names can be read. In my browser, I'm seeing "Nederl..." and "Portug..." among the languages.

[2018-01-18 16:50] riya-17 opened #123 "Language"
What if we can have each awareness topic in every suggested language. if a person knew only English than he/she will be able to access only the topics that are given in English language but not the other. This way the site will be more useful, accessible and understandable.

[2018-01-19 05:35] andy5995 commented on #123
Yes @riya-17 you are absolutely right. We are hoping for and relying on many contributors to help with this project. But yes, the goal is to have many topics in many languages.

[2018-01-21 01:51] erichoog commented on #120
I agree that it might not be clear to new users that a language might need to be selected but also not 100% sure what a good solution for that would be.  I see there's a paragraph that explains to select one so that might suffice.  We could put the language selector underneath that paragraph possibly as well but not sure it makes sense to have it in two places on the homepage

[2018-01-21 02:13] erichoog opened #126 "Fix footer layout"
I've noticed on mobile that the layout of the footer doesn't quite look right.

Half of it seems to sit higher than the other half.

Here's a screenshot I'm using Firefox on Android:

![screenshot_20180120-211208](https://user-images.githubusercontent.com/8869330/35190055-a718e556-fe26-11e7-9c1d-b26ddb12bb5c.png)

[2018-01-21 04:31] andy5995 commented on #126
labelled and accepted ;)

[2018-01-21 04:53] andy5995 commented on #120
Thanks for offering some perspective on this, Eric. I have the same problem: not sure what the best solution is yet.

[2018-01-23 07:28] #126 closed

[2018-01-23 18:46] robatronPrime commented on #119
What browser are you getting these problems?

[2018-01-26 19:36] KHurleyDesign commented on #120
What if the top navigation was a sticky header and followed the user down the page? That way its always accessible or there was some sort of prompt next to the language selection like "select one".

[2018-01-27 21:38] andy5995 commented on #120
That sounds like a good solution to me. I can't think of any downsides to it. @erichoog @escottalexander what do you think?

Thanks for the suggestion @KHurleyDesign

[2018-01-27 22:10] escottalexander commented on #120
Are we saying that the language selection will follow a user down the page until they select it and then it will leave them alone? I like that idea because it will help a new user realize that there are other languages available.

[2018-01-27 22:12] KHurleyDesign commented on #120
I was just suggesting it followed them period, but I think that your idea would be good as well. I am just not sure code wise how that would work.

[2018-01-28 12:38] erichoog commented on #120
Is this what you mean @KHurleyDesign?

https://getbootstrap.com/docs/3.3/examples/navbar-fixed-top/

I know I keep going back to bootstrap and we had discussed not using it at one point but the header and footer are both styled with bootstrap right now so we'd just have to add the class `navbar-fixed-top` to the nav element.

Also we'd probably need to add some top padding to the container as the

[2018-01-28 16:46] KHurleyDesign commented on #120
Yes that is what I was talking about. And I agree with the to padding to the container.

[2018-01-28 16:50] erichoog commented on #120
One caution is not to style the container but add a class to the containers where they're at the top of the page.  Because some of the layouts have their own containers like in the footer, if we style all the containers then it might affect the look in the footer.  But I could be wrong!

[2018-01-29 03:03] andy5995 commented on #120
That's perfectly fine, unless someone is offering to do it some other way, Eric. :) Thank you for  the suggestion.

[2018-02-07 18:40] erichoog commented on #122
@ritwik12 The bootstrap-formhelpers library seems to use the native characters for each language but we could changes that we want in that file.

You can change the text for the language code in the file `jekyll/assets/js/bootstrap-formhelpers.js` on line 7833 for ne and 7839 for hi.

Let me know if you need any help or if you want me to make the change.

[2018-02-07 18:48] erichoog commented on #119
@andy5995 I'm also not seeing this issue on Firefox for linux or android, what browser are you using?

[2018-02-07 19:34] erichoog commented on #119
@andy5995 upon further review I do still see this issue, for Nederlands.  I'll take a look

[2018-02-07 22:37] #119 closed

[2018-02-07 22:44] andy5995 commented on #122
I don't quite understand.

If visitors can't  read the symbols, why would they click on them? My thinking was that the languages names may as well be displayed as how it appears to native readers and speakers.

Can you explain better? And you mention you prefer labels such as "Hindi" or "Nepali".. what is your native language, @ritwik12 ?

[2018-02-14 14:37] ritwik12 commented on #122
@andy5995 My native language is Hindi. What I mean is that people who's native language is not hindi will not be able to know the symbol of Hindi, which doesn't matter logically as the one who wants to read in Hindi will be the one clicking on that symbol. for others it's invisible as they don't know what it means.

[2018-02-15 20:03] erichoog commented on #66
Maybe we could make a build script to check for duplicate tags and make it fail if it find one?

[2018-02-15 21:14] erichoog commented on #33
I think using Javascript would be the most practical way to enable, sorting and filtering.  I've looked at how [up-for-grabs.net](https://up-for-grabs.net) implements this and i think that would be the best way.  But I'm yet to try it out for this site!

[2018-02-16 18:53] erichoog commented on #73
@andy5995 not sure why this didn't close automatically?

[2018-02-16 19:05] andy5995 commented on #73
It's a mystery to me, too.

[2018-02-16 19:05] #73 closed

[2018-02-17 17:48] #31 closed

[2018-02-19 15:46] DRD161 commented on #105
I would like to take on this issue. I know that copyright is an issue, Unsplash.com offers thousands of images that are free to use so I'm sure that this would be easily do able.

[2018-02-19 21:26] andy5995 commented on #66
That sounds like the best option. Normally it'd be something the plug-in would handle, afaik, but in lieu of that, your idea makes the most sense.

Though I don't think it's worth spending any time on, unless you have absolutely nothing else to work on xD . :) I only say that because I expect that this will rarely be a problem.

[2018-02-19 21:27] andy5995 commented on #105
@DRD161 thanks for the info, but there's no code yet to actually display any pictures, nor any method decided upon for implementation.

[2018-02-19 21:29] #123 closed

[2018-02-19 21:30] andy5995 commented on #50
@DRD161, Is this something you'd like to work on? I think @escottalexander is taking a break from it. :)

[2018-02-19 21:32] andy5995 commented on #33
Well.. you know me.. I don't know anything about Javascript.. But you sound like you know what you're talking about, lol.

Thanks for giving it some thought though. It surely does seem that up-for-grabs has everything all figured out, doesn't it? xD

[2018-02-19 21:40] andy5995 commented on #112
@erichoog wrote in #132

I was just looking at this more closely and I saw that links from other languages show up. By clicking on the Nederlands language section -> "training" tag, I got results from the English section as well.

https://mhwkb.github.io/tag/training/

But hey.. thanks for trying! :)

[2018-02-19 21:46] erichoog commented on #112
Oh so there's a training in English and Dutch??

[2018-02-19 22:05] DRD161 commented on #105
I could write the code no problem. There are a few ways it could be done using CSS. If we could come to an agreed upon way to implement this I could start on it. Whatever I can do to help out :)

[2018-02-19 23:02] DRD161 commented on #50
@andy5995 I'll take a look at it. I'm still a newbie developer and I'm trying to do some open source to boost my skills/experience ;) I'll keep you up to date if I feel that i can't help with this particular issue.

[2018-02-20 19:20] erichoog commented on #112
Upon looking at that post in Dutch (for Vrendle) it looks like they had entered the tags in English, so if we translated them then it wouldn't be an issue.

This does raise a good point that if tags in two different languages have the same spelling then they would end up on the same tag page.

[2018-02-20 22:04] andy5995 commented on #112
Those were entered by @sexybiggetje , a native Dutch speaker. I seem to recall asking him about it. But I forget what he told me. Martijn, can you elaborate on this a little?

[2018-02-20 23:40] andy5995 commented on #50
Sounds good @DRD161 , thanks for letting me know where you're at. Good luck with things. :)

[2018-02-20 23:43] andy5995 commented on #105
Sounds good! Our Slack workspace is a good place to discuss such things, and you're welcome to join.

[2018-02-20 23:48] andy5995 commented on #112
I accidentally found the conversation on Slack...

https://mhwkb.slack.com/messages/C7HKLQSTT/convo/C7HKLQSTT-1511417733.000181/

The Dutch translation for "training" and "e-health" is the same as English?
Martijn de Boer 3 months ago
Correct, they are [loanwords](https://en.wikipedia.org/wiki/Loanword)
Martijn de Boer 3 months ago
Same as therapie/therapy, but we Dutchiefied that

[2018-02-21 06:23] sexybiggetje commented on #112
Yes that's correct. Most language have a form of loanwords. Since it's close relation to English, Dutch has quite a few. We borrow from English and French a lot. And thus Training and E-Health are straight rip offs :). In the case of Therapie/Therapy it's not an issue because the spelling is different.

This is also true for for example Japanese, words that they can't express are borrowed.
Did you

[2018-02-21 19:36] erichoog commented on #112
Very cool I didn't realize this! I love the Dutch lol all of my grandparents are from Het Nederlands but my grandparents never really taught me alot as a kid so I only know a tiny bit mostly cuss words lol.

I'm very curious though, when I google "training in Dutch" I get "opleiding" so is that not the direct translation?  Or is it just not commonly used anymore?

[2018-02-22 00:59] Aseged commented on #50
Is this issue assigned? I would love to have a look at it @andy5995

[2018-02-22 06:02] sexybiggetje commented on #112
Training usually implies short education, as opleiding usually is a multi year education.
It can also translate to exercise.

[2018-02-22 17:12] DRD161 commented on #105
@andy5995 Ok awesome, what's the slack dev group name? I'll check that out tonight.

[2018-02-22 17:15] DRD161 commented on #50
@andy5995 Go ahead and let @Aseged work on this issue. I have a couple other things I'm working on right now. Also I'm going to look into adding the images to the articles anyway so I'll stick to that issue.

[2018-02-23 02:47] andy5995 commented on #50
@Aseged , it's free. :)

[2018-02-23 02:51] andy5995 commented on #105
https://join.slack.com/t/mhwkb/shared_invite/enQtMjU3MjcwMTk4NjYzLTA0ZDc2YjAwMDJiNTU1YTBmYTViNmQ5MTdjOTk2MDA2MDMyMzNiYjU4ZWIzMTZlNmU4ZjFhNDg1MjQ5OGQyMjI

[2018-02-23 03:14] Aseged commented on #50
Thanks, @andy5995 I'll have a look

[2018-02-23 22:41] DRD161 commented on #105
@andy5995 I'm trying to type in the source path for images but they are not displaying on the page. I keep seeing a broken image link with any image I try. I am storing my images in the image directory. I see that the images that are already on the page have an image source of https://mhwkb.github.io/images/insert_image_here. Are all of the images being stored elsewhere? Using the absolute path or

[2018-02-24 12:40] erichoog commented on #105
@DRD161 what specific images folder are you using? The images need to go under `jekyll/images`

The other thing to check would be the path you're referencing in HTML it should look something like this:

`<img src="{{ site.url }}/images/mhwkb_dharma_wheel_logo_180x170.png">`

[2018-02-24 14:37] DRD161 commented on #105
@erichoog Ok I think I see the problem I was using the image folder that was NOT in the jekyll folder. But even when my image is int the jekyll/images folder and the path is this: https://mhwkb.github.io/images/nature.jpg" the image still shows a broken link icon

[2018-02-24 18:28] DRD161 commented on #105
@erichoog So my issue was with a ruby dpenedancy of some sort. BUT now when I follow the steps to run jekyll by doing bundle install withing the jekyll directory I get this error in the command line:

/usr/local/bin/bundle:23:in `load': cannot load such file -- /usr/lib/ruby/gems/2.3.0/gems/bundler-1.16.1/exe/bundle (LoadError)
	from /usr/local/bin/bundle:23:in `<main>'

then I try and run the jek

[2018-02-24 18:29] DRD161 commented on #105
I've been looking online for about an hour and have not found a viable solution. I'm using Ubuntu 16.04.4 LTS if that helps any. Also, I have joined the Slack channel if that makes any further communication easier.

[2018-03-08 04:00] andy5995 commented on #105
@DRD161 is working on this in #133

[2018-03-27 19:03] #105 closed

[2018-06-09 22:54] lamlilom opened #137 "Link suggestion -"
To suggest a link for the Knowledge Base, please fill add a title above,<br />
and fill out the form below.<br />
(if filing a regular issue, press `<CTRL-a>`, followed by a backspace)

Link title:

URL:

Up to 10 keywords or tags (spaces ok), one per line:

If you'd like to add this link to the KB, details on how to do so are at
https://github.com/
mhwkb/mhwkb.github.io/issues/11

If not, just hi

[2018-06-10 02:03] andy5995 commented on #137
Issue template not filled out. closing..

[2018-06-10 02:03] #137 closed

[2018-10-03 07:02] dreamingblackcat commented on #33
@andy5995 I've sent a [PR](https://github.com/mhwkb/mhwkb.github.io/pull/139) for this.

[2018-10-04 23:11] DarinDev1000 commented on #120
Is anyone working on this?
Should I work on it?

[2018-10-05 17:27] escottalexander commented on #120
@DarinDev1000
Be our guest. Are we settled on how to best explain to the user they must click a language? @erichoog @andy5995 @KHurleyDesign
Perhaps the sticky header should be more descriptive and say "To enter the knowledge base... |Select a language| Thoughts?

[2018-10-06 00:09] erichoog commented on #120
I don't believe we ever really decided on that but any ideas are certainly welcome. @escottalexander that sounds like a good idea!

[2018-10-06 07:01] DarinDev1000 commented on #120
Ok, I will take a look at it.

[2018-10-07 03:13] andy5995 commented on #50
This is still open.

[2018-10-07 03:21] andy5995 opened #140 "add validator button to the bottom of the site"
This code to add a w3 validator button should be added to the bottom of the site

[code]

[2018-10-07 04:31] danielmitre commented on #140
Where exactly it should be? Maybe under permalinks section?

[2018-10-07 04:57] andy5995 commented on #140
Yes, that sounds good. Centered at the bottom. Thank you.

[2018-10-07 05:01] shubhamcr commented on #140
I am working on it.

[2018-10-07 05:02] andy5995 commented on #140
@shubhamcr, you'll need to let @danielmitre take the first shot at it.

[2018-10-07 05:09] shubhamcr commented on #140
OK.

[2018-10-09 06:09] andy5995 commented on #140
completed by @danielmitre in https://github.com/mhwkb/mhwkb.github.io/commit/5c7b529637ab9e89a4ffd8501f8b6ff6288bb723

[2018-10-09 06:09] #140 closed

[2018-10-09 06:15] andy5995 opened #142 "Home page doesn't pass validation"
The home page at https://mentalhealth-kb.net/ doesn't pass validation.

Errors are listed here:

https://validator.w3.org/nu/?doc=https%3A%2F%2Fmentalhealth-kb.net%2F

[2018-10-09 21:30] andy5995 commented on #142
Completed by @rithvikp1998 in https://github.com/mhwkb/mhwkb.github.io/commit/bac0bdae5baec6d3a63e30df65555c5e72c77862

Thank you

[2018-10-09 21:30] #142 closed

[2018-10-15 01:54] #33 closed

[2018-10-16 05:55] andy5995 opened #149 "En page doesn't pass validation"
This page doesn't validate:

https://mentalhealth-kb.net/category/EN/

The results of validation are shown at:

https://validator.w3.org/nu/?doc=https%3A%2F%2Fmentalhealth-kb.net%2Fcategory%2FEN%2F

This file seems to be the cause:

https://github.com/mhwkb/mhwkb.github.io/blob/64c5f50443aa7a3f323c23ad1599e549670c7157/_includes/pagination_trail.html#L1

@dashofnutmeg , would you be interested in w

[2018-10-18 08:27] VanessaNimmo opened #151 "Link suggestion - Better Health Channel Victoria"
To suggest a link for the Knowledge Base, please fill add a title above,<br />
and fill out the form below.<br />
(if filing a regular issue, press `<CTRL-a>`, followed by a backspace)

Link title: Better Health Channel Victoria

URL: https://www.betterhealth.vic.gov.au/servicesandsupport/mental-health-services

Up to 10 keywords or tags (spaces ok), one per line:
Victoria
Australia
resources
how

[2018-10-18 08:30] #151 closed

[2018-10-18 10:51] alaajerbi commented on #120
@DarinDev1000 If you need any help with this task, let me know please :smile:

[2018-10-18 22:49] DarinDev1000 commented on #120
Ok, Thanks. I’ll look over it.
On Oct 18, 2018, 3:51 AM -0700, Alaa Jerbi <notifications@github.com>, wrote:

[2018-10-20 22:16] #149 closed

[2018-10-27 20:13] andy5995 opened #159 "search box not present after clicking a result"
search box not present after clicking a result

For example, I type in the search "resource" and click a link. The page for the link comes up but that page has no search box to do another search if desired.

[2018-10-29 20:19] andy5995 opened #162 "Add style to the "edit this entry" post link"
The "edit this entry" link isn't live yet, but the code changes are in the jekyll branch.

![image](https://user-images.githubusercontent.com/16764864/47677718-e09c2000-db8d-11e8-8cb3-361de0e3c4fb.png)

The link could use a bit of style though.

[2018-11-10 00:51] andy5995 opened #163 "New Chat Room"
In 2 weeks, we will be deleting this Slack workspace. To replace it, the new chat room will be on the open source Matrix chat platform. Anyone may join now using this link: https://matrix.to/#/!IYJbSsQLyEzkioQJdn:matrix.org

[2018-12-01 19:08] babzcraig commented on #162
Hi @andy5995 I'd like to take this up to get my feet wet. Is that okay?

[2018-12-01 19:51] andy5995 commented on #162
Yes, @babzcraig

[2018-12-01 20:17] babzcraig commented on #162
Got it. I'm on it

[2018-12-02 03:12] andy5995 commented on #162
Completed by @babzcraig in #164

[2018-12-02 03:12] #162 closed

[2018-12-02 10:55] babzcraig commented on #50
Hi, @andy5995 I want to take a shot at this. I am thinking we go for a more rounded look so each tag is a rounded button instead of just plain text. For the visual hierarchy, instead of using font-sizes (which makes the tags with fewer numbers hard to read because they are so small), we can use color instead. So a more faded out color for tags with lower counts and more saturated color for tags wi

[2018-12-02 15:03] andy5995 commented on #50
That sounds pretty good to me. For this project I mostly rely on design suggestions like that, as I'm not really a designer myself. Thank you!

Please consider joining our new chat room, @babzcraig . :)

[2018-12-02 17:04] babzcraig commented on #50
I'll get on it. How do I join the chatroom? I went to this link: https://matrix.to/#/!IYJbSsQLyEzkioQJdn:matrix.org but I didn't get any info on how to join

[2018-12-02 17:13] andy5995 commented on #50
How about this link? https://riot.im/app/#/room/!IYJbSsQLyEzkioQJdn:matrix.org

[2018-12-11 00:13] andy5995 commented on #159
Hi @ganes1410

Actually I don't see any reason the search box shouldn't simply be put in the navbar at the top. Anyone else anticipate any problems if it were moved?

[2018-12-11 00:16] andy5995 opened #165 "Adding style to the three feeds displayed"
The three separate RSS feeds that are displayed on each page aren't styled very well. We use a [third-party-service](https://rss.bloople.net/) to display the headlines from those feeds, but there are hooks that we could could take advantage of.

[code]

[2018-12-15 08:56] erichoog commented on #159
@andy5995 I think there was a reason I had placed it on the main page vs on the navbar.  Likely couldn't get it working properly there as that would have been the first place I would have put it.  But it's worth trying
again for sure.

[2018-12-16 11:34] ganes1410 commented on #159
@erichoog i'll try placing it on the navbar.I'll ask any help if needed

[2018-12-16 18:43] andy5995 commented on #159
ok @ganes1410

[2019-01-14 16:04] andy5995 opened #166 "add GitHub corners"
https://github.com/tholman/github-corners would look good with the [ribbon](https://blog.github.com/2008-12-19-github-ribbons/)

[2019-02-18 04:23] andy5995 opened #167 "jekyll-paginate update breaks jekyll build"
The [jekyll-paginate plugin](https://github.com/jekyll/jekyll-paginate) is no longer under active development (according to a statement at the top of its repo). When I tried updating to the latest release, it breaks the jekyll build:

[code]

Dunno of we could keep the plugin at v2.0.0 forever or look at using an alternative at some point, or try using [jekyll's internal paginate feature](https://

[2019-02-18 05:11] andy5995 commented on #166
I added the corners in https://github.com/mhwkb/mhwkb.github.io/commit/a5acdd15be5595cd51207c2b7e1ccfc91ba9651c but not the ribbon.

[2019-02-18 05:13] andy5995 commented on #165
I started implementing this in https://github.com/mhwkb/mhwkb.github.io/commit/6a77085b0f57ed6fd7c21e1aef07d940d15093bf but needs design improvement. The current changes are now live.

[2019-02-19 06:21] #166 closed

[2019-04-18 02:39] erichoog commented on #167
I think we could switch to the default Jekyll paginate feature but it will likely break some things (which I'd need to refresh myself on).

The other option is to read in the markdown data and convert it to json similar to what the up for grabs.net site does.

Not sure I'd be able to work on this anytime soon tho

[2019-04-23 21:36] andy5995 commented on #167
Hi @erichoog  :)

I'm not in any hurry. May be better to archive and deprecate this project and use some entirely different platform. Though I don't know who would want to set it up, lol.

Take care...

[2020-08-15 04:05] #167 closed

[2020-08-15 04:07] andy5995 commented on #167
There's been some active development on paginate-v2.. It's now at 3.0.0 ;)

https://rubygems.org/gems/jekyll-paginate-v2/versions/3.0.0

I upgraded Jekyll from 3 to 4 and all dependencies and debts have been paid. :)

[2020-08-15 04:20] andy5995 commented on #163
Ah.. deleted that Matrix room as well some time ago.

[2020-08-15 04:20] #163 closed